<form>
  <div ng-init="init()" class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Utilisateur</h3>
        </div>
        {{user}}
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="">Pseudo</label>
              <input type="text" class="form-control" ng-model="user.username" id="" placeholder="Votre pseudo">
            </div>
            <div class="form-group">
              <label for="">Mot de passe</label>
              <input type="password" class="form-control" ng-model="user.password" id="" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <label for="">Adresse mail</label>
              <input type="mail" class="form-control" ng-model="user.mail" id="" placeholder="Adresse mail">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div ng-if="coloc.id" class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Colocation</h3>
        </div>
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Nom</label>
              <input type="text" class="form-control" ng-model="coloc.name" id="" placeholder="Nom de la colocation">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Plafond</label>
              <input type="number" class="form-control" ng-model="coloc.plafond" id="" placeholder="Plafond">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div ng-if="!coloc.id" class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Colocation</h3>
        </div>
        <div class="box-body">
          <div class="alert alert-warning">
            <h4><i class="icon fa fa-warning"></i>Vous n'avez pas encore de colocation</h4>
Vous pouvez soit en créer une soit rejoindre vos ou votre colocataire(s) déja inscrit.
          </div>

          <legend>Rejoindre</legend>
          <form ng-submit="searchUser()" role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Pseudo ou adresse email</label>
              <input type="text" class="form-control" ng-model="searchColoc.search" placeholder="Pseudo / email">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Envoyer invitation</button>
            </div>
          </form>

          <legend>
            Créer
          </legend>
          <form ng-submit="createColoc()" role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Nom de votre nouvelle colocation</label>
              <input type="text" required class="form-control" ng-model="colocCreate.name" placeholder="Nom de la colocation">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Création</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Invitations</h3>
        </div>
        <div class="box-body">
          <legend>Demandes envoyées</legend>
          <div ng-if="!invitationsSent.length" class="alert alert-info">
              Vous n'avez pas envoyé d'invitation récemment
          </div>
          <form ng-submit="searchUser()" role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Pseudo ou adresse email</label>
              <input type="text" class="form-control" ng-model="searchColoc.search" placeholder="Pseudo / email">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Envoyer invitation</button>
            </div>
          </form>
          <div ng-repeat="invitation in invitationsSent" class="row">
            <div class="col-sm-4">
              {{invitation.to.username}}
            </div>
            <div class="col-sm-4">
              {{invitation.createdAt | date : 'dd/MM/yy hh:mm:ss'}}
            </div>
            <div class="col-sm-4">
              <p class="pull-right">
                <i class="fa fa-clock-o"></i> En attente
              </p>
            </div>
          </div>
          <legend>Reçues</legend>
          <div ng-if="!invitationsReceive.length" class="alert alert-info">
              Vous n'avez pas recus d'invitations
          </div>
          <div ng-repeat="invitation in invitationsReceive" class="row">
            <div class="col-sm-4">
              {{invitation.as.username}}
            </div>
            <div class="col-sm-4">
              {{invitation.createdAt | date : 'dd/MM/yy hh:mm:ss'}}
            </div>
            <div class="col-sm-4">
              <button class="btn btn-info btn-sm pull-right" ng-click="acceptColoc(invitation)" type="button>">Accepter</button>
            </div>
          </div>
          <legend>Acceptées</legend>
          <div ng-if="!invitationsAccepted.length" class="alert alert-info">
              Vous n'avez pas accepté aucunes invitations
          </div>
          <div ng-repeat="invitation in invitationsAccepted" class="row">
            <div class="col-sm-4">
              {{invitation.as.username}}
            </div>
            <div class="col-sm-4">
              {{invitation.createdAt | date : 'dd/MM/yy hh:mm:ss'}}
            </div>
            <div class="col-sm-4">
              <button class="btn btn-danger btn-sm pull-right" ng-click="removeInvitation(invitation)" type="button>">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="box-header">
      <div class="pull-right">
        <button type="submit" ng-click="savePreferences()" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</form>
